.main{ background-color: blanchedalmond;
    margin: 9%;
    padding: 5%;
    display: block;
    /* display: contents; */
border-radius: 7px;
border: 3px red solid

}
b{
    color: rgb(244, 239, 239);
}
div{margin: 12%;
    padding: 2%;
    background-color: rgba(145, 152, 212, 0.922);
    border-radius: 12px;
    border: 21px greenyellow solid;
}